<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="dashboard">
      <h3>DASHBOARD</h3>
      <div>
        <ion-button fill="clear" (click)="toggleModal()" class="dashbtn">
          <ion-icon name="settings" class="setting"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

  <ion-card>
    <ion-card-header>
        WELCOME TO DASHBOARD
    </ion-card-header>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button>
            <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
            <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
            <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

