<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>COMPONENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        HELLO
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
        THIS IS MY CARD COMPONENT.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      Item 1
    </ion-item>
    <ion-item>
      Item 2
    </ion-item>
    <ion-item>
      Item 3
    </ion-item>
    <ion-item>
      Item 4
    </ion-item>
  </ion-list>
